In [6]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from numpy.random import randn

In [7]:
dframe = DataFrame(randn(25).reshape(5,5), index=['a', 'b', 'd', 'e', 'f'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [8]:
dframe

       col1      col2      col3      col4      col5
a  0.315034 -0.841370  0.610378  0.258526 -1.660549
b  1.749091 -0.261896 -0.509930 -0.694884  0.886079
d -0.847550 -2.797616 -0.731310  0.875610  1.417633
e -1.726486 -0.322868  1.398602 -1.640344  1.554163
f -0.462033 -0.192735 -2.120539 -1.258530 -1.004173

In [13]:
new_index = ['a', 'b', 'c', 'd', 'e', 'f']
dframe2 = dframe.reindex(new_index)

In [14]:
dframe2

       col1      col2      col3      col4      col5
a  0.315034 -0.841370  0.610378  0.258526 -1.660549
b  1.749091 -0.261896 -0.509930 -0.694884  0.886079
c       NaN       NaN       NaN       NaN       NaN
d -0.847550 -2.797616 -0.731310  0.875610  1.417633
e -1.726486 -0.322868  1.398602 -1.640344  1.554163
f -0.462033 -0.192735 -2.120539 -1.258530 -1.004173