In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [5]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [6]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1960
3    1920
4    1996
Name: First NFL Season, dtype: int64

In [7]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [10]:
nfl_frame[['Team', 'First NFL Season']]

                   Team  First NFL Season
0        Dallas Cowboys              1960
1     Green Bay Packers              1921
2  New England Patriots              1960
3         Chicago Bears              1920
4      Baltimore Ravens              1996

In [16]:
for i in list(np.arange(5)):
    print(i)

0
1
2
3
4